.aboutPage {

    > img {
        position: fixed;
        bottom: -10px;
        right: 500px;
        transform: rotate(.5turn);
    } 

    > div {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4vh;

        > div {
            flex: 1 1 70%;
            margin-right: 2vw;
        }

        p:first-child,
        p:nth-child(2) {
            margin-bottom: 2vh;
        }

        img {
            flex: 0 1 30%;
        }
    }
}