// Global fadein

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.3s ease-in 1 0.2s backwards;
}

// Landing Page Lightbulb

@keyframes lightbulbCoil {
    100% {
    stroke-dashoffset: 0;
  }
}

@keyframes flickeringLight {
    0%, 25%, 50%, 70% {
        stroke: $black;
        stroke-width: 1.2;
    }
    20%, 40%, 65%, 75%, 100% {
        stroke: $accent;
        stroke-width: 1.8;
    }
}

.lightbulb-coil {
    stroke-dasharray: 122.69259643554688;
    stroke-dashoffset: 122.69259643554688;
    animation: lightbulbCoil 1.8s linear .5s 1 forwards, flickeringLight 1.4s ease-in 2.3s 1 forwards;
}


/* main section of lightbulb */
@keyframes lightbulbMain {
    100% {
    stroke-dashoffset: 0;
  }
} 

.lightbulb-main {
    stroke-dasharray: 170.1072235107422;
    stroke-dashoffset: 170.1072235107422;
    animation: lightbulbMain 1s linear 0s 1 forwards;
} 

/* bottom of lightbulb */

@keyframes lightbulbBottom {
    100% {
    stroke-dashoffset: 0;
  }
}

.lightbulb-bottom {
    stroke-dasharray: 198.2691192626953;
    stroke-dashoffset: 198.2691192626953;
    animation: lightbulbBottom 1.3s linear .5s 1 forwards;
}
