@font-face {
    font-family: "OpenDyslexic-Regular";
    src: url(../../public/assets/font/OpenDyslexic2/OpenDyslexic-Regular.otf)
}

html {
    font-size: 62.5%;
}

header {
    h1,
    h2 {
        font-weight: 500;
    }
}

.dxyFont {
    font-family: OpenDyslexic-Regular;
}


