// body
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $black;
    @include fontSize(20);
    background: $white;
    line-height: 1.6;
}

// anchor tag
a {
    color: $black;
}

// headers
h1 {
    text-transform: uppercase;
    font-size: calc(2.8rem + 1vw);
    letter-spacing: 2px;
}

// svg + img
svg, img {
    max-width: 100%;
    shape-rendering: geometricPrecision;
}

// body transition
body {
    transition: $trans;
}

// wrapper
.maxWrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.innerWrapper {
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
    }

    .stickyFooter {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

//footer
footer {
    display: flex;
    justify-content: center;
    margin: 4vh 0 2vh;
    font-size: calc(1rem + .3vw);
}

// fixed button
main button {
        position: fixed;
        right: 0;
        top: 0;
        padding: 10px;
        background: $black;
        color: $white;
    }

// svg in header for mobile
header svg.mobileSVG {
    width: 50px;
    position: static;
    margin-left: 12px;
    display: none;
}

// nav
.aboutPage,
.skillsPage,
.projectsPage,
.contactPage {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
    header {
        display: flex;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 2vh 0;

        li {
                a {
                    padding: 18px;
                    font-size: calc(1.6rem + .4vw);
                    letter-spacing: 1.5px;
                    transition: $trans;
                }

                #{$a-focus-hover} {
                    color: $accent;
                }
        }
    }

    h2 {
        font-weight: 500;
    }
}

// social icons
.socialContacts {
            margin-top: 2vh;
            display: flex;
            font-size: calc(4rem + 1vw);

            li {
                margin: 1vw;
            }

            li:first-child {
                margin-left: 0;
            }

            a {
                padding: 8px;
            }

            #{$a-focus-hover} {
                    color: $accent;
                }
}