    .hamContainer {
        display: none;
        position: fixed;
        top: 15px;
        right: 10px;
        background: $black;
        padding: 20px;
        z-index: 5;
        width: 55px;
        height: 55px;
        

    &.open {

        ~ nav {
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $white;

            ul {
                flex-direction: column;
                display: block;
                position: fixed;
                top: 25%;
                left: 35%;

                a {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.hamMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    cursor: pointer;

    span {
        display: inline-block;
        width: 100%;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
        height: 6px;
        background: $white;
        transition: all .3s;
        position: relative;
    }

    &.inActive {
         span:nth-child(1) {
            animation: ease .7s topinActive forwards;
        }

        span:nth-child(2) {
            top: -4px;
            animation: ease .7s scaledinActive forwards;
        }

        span:nth-child(3) {
            animation: ease .7s bottominActive forwards;
        }       
    }

    &.active {
            span:nth-child(1) {
                animation: ease .7s topActive forwards;
            }

            span:nth-child(2) {
                    animation: ease .7s scaledActive forwards;
            }

        span:nth-child(3) {
                animation: ease .7s bottomActive forwards;
            }
    }
}

@keyframes topActive {
  0% {
    top: 12px;
    transform: rotate(0);
  }
  50% {
    top: 26px;
    transform: rotate(0);
  }
  100% {
    top: 26px;
    transform: rotate(45deg);
  }
}

@keyframes topinActive {
  0% {
    top: 26px;
    transform: rotate(45deg);
  }
  50% {
    top: 15px;
    transform: rotate(0deg);
  }
  100% {
    top: 12px;
    transform: rotate(0deg);
  }
}

@keyframes bottomActive {
  0% {
    top: -20px;
    transform: rotate(0);
  }
  50% {
    top: -22px;
    transform: rotate(0);
  }
  100% {
    top: -37px;
    transform: rotate(135deg);
  }
}

@keyframes bottominActive {
  0% {
    top: -37px;
    transform: rotate(135deg);
  }
  50% {
    top: -20px;
    transform: rotate(0);
  }
  100% {
    top: -20px;
    transform: rotate(0);
  }
}

@keyframes scaledActive {
  50%, 100% {
    transform: scale(0);
  }
}

@keyframes scaledinActive {
  0%, 50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}