@media (max-width: 1040px) {
      // global changes
    // svg next to headers for mobile
    header .mobileSVG {
        display: block;
    }

    .projectsPage {
        section {
            flex-wrap: wrap;
            justify-content: center;
        }

        section > .portfolioImages, section:nth-of-type(2n) .portfolioImages {
            margin: 0;
            margin: 4vh 0;
        }

        section > div {
            order: -1;
        }
    }
    // end of projects page

    // svg images removed
    .skillsPage,
    .aboutPage,
    .contactPage,
    .projectsPage {
        > img {
            display: none;
        }
    }
}
// end of 1040px

@media (max-width:580px) {

    .landingPage {
        svg {
            order: -1;
            margin: 4vh 0;
        }

        main {
            flex-direction: column;

            ul {
                display: flex;
            }
        }

        .firstNav, .secondNav {
            li {
                width: 150px;
            }

            li:nth-of-type(1),
            li:nth-of-type(2) {
                transform: none;
            }

            a {
                margin: 2.5vw;
            }

        }

    }
    // end of landing page

    .skillsPage {
        .essentialSkills section:nth-child(2n) {
            margin-left: 0;
        }
    }
    // end of skills page

    .contactPage, .aboutPage {
        .socialContacts {
            justify-content: center;
            font-size: 5.2rem;
        }
    }

}
// end of 580

@media (max-width:535px) {
    body {
        padding-top: 4vh;
    }

    .stickyFooter {
        min-height: 100vh;
    }

    .fontButton {
        position: fixed;
        top: 22px;
        left: 0px;
        height: 45px;
        font-size: 1.5rem;
    }

    .skillsPage,
    .aboutPage,
    .contactPage,
    .projectsPage {
        padding-top: 10vh;
    }

    .hamContainer {
        display: block;

    ~ nav {
            display: none;
        }
    }

    .projectsPage header .mobileSVG {
        width: 60px;
        min-width: 50px;
    }

    .skillsPage {
        .techSkills ul {
            font-size: 4.5rem;
        }
    }
}
// end of 535

@media (max-width:400px) {
.hamContainer.open {

        ~ nav {

            ul {
                left: 30%;
            }

        }
    }

.projectsPage {
    .linksToProjects a {
        margin-top: 2vh;
    }
}
}