// colors

$black: rgb(12,12,12);
$white: rgb(242,242,242);
$darkerWhite: darken($white, 8);

$accent: darken(rgb(255,174,66), 12);

// font size

@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

$trans: 0.3s ease-out;

$svg-path: '#Path-2';
$a-focus-hover: 'a:hover, a:focus';
